name: Kira Pulse

on:
  workflow_dispatch: # Esto permite el botón manual
  schedule:
    - cron: '*/5 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5 # ¡ESTO EVITA EL COLOR NARANJA ETERNO!
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install
        run: pip install yfinance requests
      - name: Run
        run: python data_bridge.py
